// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

.pet-title {
  color: #387d7d;
}

.pet-title:hover {
  color: #026666;
}

.heart-icon {
  color: #387d7d;
}

.heart-icon:hover {
  color: #026666;
}

.card-title {
  color: #387d7d;
}
