// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$main: #d694e3;
$purple-blue: #8f97bb;

.pet-title {
  color: $main;
}

.pet-title:hover {
  color: #828bb1;
}

.heart-icon {
  color: $purple-blue;
}

.heart-icon:hover {
  color: #828bb1;
}

.card-title {
  color: $purple-blue;
}
