<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="#" method="get">
        <label for="breed">Breed</label>
          <select name="pet_breed">
            <% @pet_breed.each.uniq do |breed| %>
              <option><%= breed %></option>
            <% end %>
          </select>
        <input name="Submit" type="submit" value="Search"/>
      </form>
    </div>
    <div class="col-8">
      <%= render partial: "shared/card", locals: {pets: @cats}%>

    </div>
  </div>
</div>
