<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3.amazonaws.com/static.organiclead.com/Site-0d965dd0-20f9-43e6-92b8-0081f8fcc231/resources/cat_dog_banner2.jpg);">
  <h1 class="display-4 text-center mb-2"><strong>Happy Tails</strong></h1>
  <h3 class="text-center">Find your <em>forever</em> friend</h3>
  <div class=" d-flex justify-content-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-flat btn-lg m-2"><%= link_to "Dogs", dogs_pets_path, class:"btn-link" %></button>
    <button type="button" class="btn btn-flat btn-lg m-2"><%= link_to "Cats", cats_pets_path, class:"btn-link" %></button>
  </div>
</div>

<div class="container">
  <%= render partial: "shared/card", locals: {pets: @pets}%>
</div>
