<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3.amazonaws.com/static.organiclead.com/Site-0d965dd0-20f9-43e6-92b8-0081f8fcc231/resources/cat_dog_banner2.jpg);">
  <div class="container">
    <h1 class="text-center"> Welcome to Happy Tails</h1>
    <p class="text-center">Find your <em>FOREVER</em> friend now.</p>
  </div>
</div>

<div class="container">
  <%= render partial: "shared/card", locals: {pets: @pets}%>
</div>
