.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 40px;
  color: $purple-blue;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $gray;

  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    color: $main;
  }
}
.footer .fa-heart {
  color: $main;
}
